# Secrets
.env

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Chroma DB (can be recreated by re-indexing)
chroma_db/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
